<div class="flex justify-between items-center mb-4">
  <div>
    <h2 class="text-2xl font-bold text-gray-800">My Tickets</h2>
    <p class="text-gray-600">View and raise your support tickets</p>
  </div>
  <button
    class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md"
    (click)="showForm.set(true)"
  >
    Raise New Ticket
  </button>
</div>

<app-ticket-table
  [tickets]="tickets()"
  (viewDetail)="openDetail($event)"
  [isAdmin]=false
  [loading]="loading()"
></app-ticket-table>

<app-raise-ticket-form
  *ngIf="showForm()"
  (close)="showForm.set(false)"
  (submit)="createTicket($event)"
></app-raise-ticket-form>

<app-ticket-detail-modal
  [isAdmin]="false"
  *ngIf="selectedTicket()"
  [ticket]="selectedTicket()!"
  (close)="closeDetail()"
  (addComment)="onCommentAdd($event)"
/>

